<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{changeWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.validation}"/>

    <ui:define name="formContainer">
        <sa:valueDomain bean="#{changeWizard}" readonly="false" change="true"/>

        <h:commandButton id="cancelBtn" action="#{changeWizard.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="changedefinitions?faces-redirect=true" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{changeWizard.validateValidation}" style="display:none;"/>

    </ui:define>

    <ui:define name="misc">
        <h:panelGroup id="scrollFragment" layout="block">
            <script type="text/javascript">
                $('html, body').animate({
                    scrollTop: $("#wizardForm div:last").offset().top
                }, 1000);
            </script>
        </h:panelGroup>
    </ui:define>
</ui:composition>
