<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{changeNamespaceWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.constraints}"/>

    <ui:define name="formContainer">
        <sa:constraints bean="#{changeNamespaceWizard}" readonly="false"/>

        <h:commandButton id="cancelBtn" action="#{changeNamespaceWizard.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{changeNamespaceWizard.previousStep(view.viewId)}" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{changeNamespaceWizard.validateConstraints}" style="display:none;"/>
    </ui:define>

</ui:composition>
