<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/verify.xhtml">

    <ui:param name="bean" value="#{changeWizard}"/>

    <ui:define name="afterDefinitions">
        <ui:fragment rendered="#{changeWizard.elementType == 'DATAELEMENT'}">
            <h2>#{msg.validation}</h2>
            <sa:valueDomain bean="#{changeWizard}" readonly="true"/>
        </ui:fragment>


        <ui:fragment rendered="#{changeWizard.elementType == 'DATAELEMENTGROUP' or changeWizard.elementType == 'RECORD'}">
            <h2><h:outputText value="#{msg.members}"/></h2>
            <div class="clearfix" id="elements">
                <sa:elements list="#{changeWizard.elements}" emptyText="#{msg.noMembers}"/>
            </div>
        </ui:fragment>
    </ui:define>
</ui:composition>
