<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{dataElementWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.validation}"/>

    <ui:define name="formContainer">

        <sa:elements list="#{dataElementWizard.valueDomain.subCodes}" valueDomain="#{dataElementWizard.valueDomain}" checkable="true" collapsible="true"
                draggable="false" detailLink="false" removable="false" sortable="false" starrable="false" detailPage="/user/shortDetail.xhtml?readonly=false" readonly="false"/>

        <h:commandButton id="cancelBtn" action="#{dataElementWizard.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="elementdefinitions?faces-redirect=true" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{dataElementWizard.validateCatalog}" style="display:none;"/>
    </ui:define>

    <ui:define name="misc">
        <h:form>
            <h:inputText style="display: none;" id="selectedCode" styleClass="selectedCode" value="#{dataElementWizard.selectedCode}"/>
            <h:commandButton action="#{dataElementWizard.deselectAll}" style="display: none;" styleClass="deselectAll">
                <f:ajax execute="@form" render="@none"/>
            </h:commandButton>
            <h:commandButton action="#{dataElementWizard.selectAll}" style="display: none;" styleClass="selectAll">
                <f:ajax execute="@form" render="@none"/>
            </h:commandButton>
        </h:form>
    </ui:define>

</ui:composition>
