<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{importWizard}" />
    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.uploadStrategy}"/>

    <ui:define name="formContainer">

        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <td>#{msg.oldIdentifier}</td>
                        <td>#{msg.newIdentifier}</td>
                    </tr>
                </thead>

                <tbody>
                    <ui:repeat var="imp" value="#{importWizard.imports}">
                        <tr>
                            <td>#{imp.from}</td>
                            <td>#{imp.to}</td>
                        </tr>
                    </ui:repeat>
                </tbody>

            </table>
        </div>

        <h:commandButton id="finishBtn" action="#{importWizard.commit}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{importWizard.previousStep(view.viewId)}" style="display: none;" />
        <h:commandButton id="cancelBtn" action="#{importWizard.reset}" style="display:none;"/>
    </ui:define>

</ui:composition>
