.control-label-center {
    text-align: center;
    font-weight: bolder;
}

.designation {
    font-size: 13.5pt;
    padding-bottom: 2px;
    display: inline-block;
}

.definition {
    display: block;
    font-size: 12.5pt;
}

.urn {
    display: inline-block;
    text-align: right;
    float: right;
}

.detailLink {
    display: table-cell;
    cursor: pointer;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}

.nav > li > a.detailLink {
    padding: 0px;
}

.page-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.formItem {
    display: table;
    margin-bottom: 5px;
    padding: 5px 5px 5px 15px;
}

.formItem-dataelementgroup {
    border: 1px solid rgba(59, 73, 94, 0.36);
    border-left: 3px solid rgb(59, 73, 94);
    text-align: left;
    color: rgb(59, 73, 94);
    background-color: rgba(165, 186, 216, 0.48);
    border-radius: 4px;
    font-size: 11pt;
}

.formItem-dataelement {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border: 1px solid rgba(235, 207, 200, 0.55);
    border-left: 3px solid rgba(245, 108, 74, 0.81);
}

.formItem-record {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border: 1px solid rgba(235, 207, 200, 0.55);
    border-left: 3px solid rgba(94, 130, 255, 0.81);
}

.formItem-catalog {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-code {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(0, 30, 100, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-code.validCode {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-color: rgba(0, 39, 179, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-namespace {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(0, 30, 100, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-catalog.invert {
    background: rgba(21, 16, 10, 0.29);
}

.draggable {
    cursor: pointer;
}

.sortableItemPanel {
    border: 1px dashed rgba(241, 148, 125, 0.83);
    height: 100%;
    display: inline-block;
    padding: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFF;
}

#dragInfo {
    color: #BDBDBD;
    padding: 30px;
    padding-top: 50px;
    text-align: center;
}

.panelLeft {
    border-right: 1px dashed #C9C9C9;
    min-height: 98%;
}

.panelRight {
    border-left: 1px dashed #C9C9C9;
    min-height: 98%;
}

.screenHeight {
    height: 100%;
}

.vCenter {
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.clickableIcon {
    color: #BECFDD;
}

.content {
    padding: 10px;
}

.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.contextButtons {
    display: inline-block;
    float: right;
    font-size: 36px;
    line-height: 1.1;
    color: #BECFDD;

    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.checkbox label {
    display: inline;
}

.details .detailView {
    border-width: 0px 0px 0px 1px;
    border-style: dashed;
    border-color: #000;
    border-radius: 0px;
    padding-left: 5px;
}

.form-container {
    padding-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 18px 6px -8px #1A1A1A, 0px 0px 2px #0D0D0D;
    margin-top: 100px;
}

.footer {
    position: absolute;
    height: 200px;
    bottom: 0px;
    margin: 15px;
}

.imgRight {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.imgLeft {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.header-left {
    display: inline-block;
    margin-top: 0px;
}

tr.tableVCenter td {
    vertical-align: middle !important;
}

.select2-container {
  padding: 0px !important;
  border-width: 0px !important;
}

.select2-container .select2-choice {
  height: 34px !important;
  line-height: 34px !important;
}

.navbar-brand,
.navbar-nav > li > a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inner {
    min-height: 0px;
}

.logo {
    height: 23px;
    margin-right: 10px;
    width: 60px;
}

.projectName {
    color: #DD5D37;
}

.processingWrapper {
    text-align: center;
}

.nav-pills li {
    margin-top: 5px;
}

.navbar-fixed-bottom {
    background-color: transparent !important;
    border-width: 0px;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 8px;
}

ul.namespacelist li {
    cursor: pointer;
}

.statusLabel {
    font-size: 40%;
    vertical-align: middle;
}

.scrollable {
    overflow-y: auto;
    height: 100%;
}

.formItem.ui-draggable-dragging, .ui-sortable-helper {
    width: 800px !important;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 30px;
    margin-bottom: 15px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #BDBDBD;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.resultsTitle {
    min-height: 75px;
}
