<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">
    <div class="content">

        <div class="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
            <h2>#{msg.currentConfig}</h2>
            <h:form styleClass="form-horizontal">
                <div class="form-group">
                    <h:outputLabel for="namespace-grant" styleClass="col-xs-6 control-label">#{msg.newUserNamespaceGrant}</h:outputLabel>
                    <h:panelGroup styleClass="col-xs-6" id="namespace-grant" layout="block">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="#{configBean.namespaceGrant}"/>
                            </label>
                        </div>
                    </h:panelGroup>
                </div>

                <div class="form-group">
                    <h:outputLabel for="catalog-grant" styleClass="col-xs-6 control-label">#{msg.newUserCatalogGrant}</h:outputLabel>
                    <h:panelGroup styleClass="col-xs-6" id="catalog-grant" layout="block">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="#{configBean.catalogGrant}"/>
                            </label>
                        </div>
                    </h:panelGroup>
                </div>

                <div class="form-group">
                    <h:outputLabel for="export-grant" styleClass="col-xs-6 control-label">#{msg.newUserExportImportGrant}</h:outputLabel>
                    <h:panelGroup styleClass="col-xs-6" id="export-grant" layout="block">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="#{configBean.exportImportGrant}"/>
                            </label>
                        </div>
                    </h:panelGroup>
                </div>

                <div class="form-group">
                    <h:outputLabel for="show-translation-button" styleClass="col-xs-6 control-label">#{msg.showTranslationButton}</h:outputLabel>
                    <h:panelGroup styleClass="col-xs-6" id="show-translation-button" layout="block">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="#{configBean.showTranslationButton}"/>
                            </label>
                        </div>
                    </h:panelGroup>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <h:commandButton value="#{msg.saveConfig}" action="#{configBean.saveConfig}" styleClass="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </h:form>
        </div>

    </div>
</ui:define>

</ui:composition>
