<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="default.xhtml">

    <ui:param name="bodyClass" value="container" />
    <ui:param name="showDialog" value="false"/>

    <ui:define name="body">

        <div class="fadein content text-center">

            <h1>#{msg.serverMaintenance}</h1>

            <h2>#{msg.databaseUpgradeNecessary}</h2>

            <h2>#{msg.backupRecommended}</h2>

            <ui:include src="../components/messages.xhtml"/>

            <h:form>

                <h:commandButton rendered="#{! upgradeBean.dryRunSuccess}" action="#{upgradeBean.run(true)}" value="#{msg.startUpgradeDry}"
                    styleClass="btn btn-primary" />

                <h:commandButton rendered="#{upgradeBean.dryRunSuccess}" action="#{upgradeBean.run(false)}" value="#{msg.startUpgrade}"
                    styleClass="btn btn-primary" />

            </h:form>

        </div>

    </ui:define>

</ui:composition>
