<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">
    <div class="content">

        <div>
            <h3 class="header-left">Users</h3>
            <span class="pull-right">
                <h:link outcome="users" styleClass="btn btn-default btn-block">
                    <i class="fa fa-refresh"></i>
                </h:link>
            </span>
        </div>

        <h:form>
            <table id="table" class="table table-striped table-hover col-xs-12">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Can create namespaces</th>
                        <th scope="col">Can create catalogs</th>
                        <th scope="col">Can export/import elements</th>
                        <th scope="col"><span class="pull-right">Actions</span></th>
                    </tr>
                </thead>

                <tbody>
                    <ui:repeat var="user" value="#{userListBean.users}">
                        <tr class="tableVCenter">
                            <td>
                                #{user.email}
                            </td>
                            <td>
                                #{user.canCreateNamespace}
                            </td>
                            <td>
                                #{user.canCreateCatalog}
                            </td>
                            <td>
                                #{user.canExportImport}
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><h:commandLink action="#{userListBean.toggle(user)}" value="#{user.canCreateNamespace ? 'Revoke Namespaces' : 'Grant Namespaces'}"/></li>
                                        <li role="presentation"><h:commandLink action="#{userListBean.toggleCatalog(user)}" value="#{user.canCreateCatalog ? 'Revoke Catalog' : 'Grant Catalog'}"/></li>
                                        <li role="presentation"><h:commandLink action="#{userListBean.toggleExport(user)}" value="#{user.canExportImport ? 'Revoke Export/Import' : 'Grant Export/Import'}"/></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </ui:repeat>
                </tbody>
            </table>
        </h:form>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>

    </div>
</ui:define>

</ui:composition>
