<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply">


<composite:interface>
    <composite:attribute name="element" required="true"/>
</composite:interface>

<composite:implementation>

    <div class="clearfix">
        <div class="col-xs-12">
            <h1 class="col-xs-9 wiztitle">
                #{cc.attrs.element.designation}
            </h1>

            <div class="col-xs-3 btn-group">

                <h:panelGroup styleClass="dropdown contextButtons" layout="block" rendered="#{userBean.writableNamespaces.size() > 0}">
                    <h:form id="contextForm">
                    <button class="btn btn-default dropdown-toggle" type="button" id="context-btn" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="context-btn">
                        <li role="presentation">
                            <h:commandLink value="#{msg.importIntoNamespace}" action="#{dataElementWizard.initialize(cc.attrs.element)}"/>
                        </li>
                    </ul>
                    </h:form>
                </h:panelGroup>

            </div>

            <h4 class="col-xs-12">#{cc.attrs.element.definition}</h4>
        </div>
    </div>

    <div id="detailView">
        <h2>#{msg.validation}</h2>

        <sa:cadsrValueDomain element="#{cc.attrs.element}"/>
    </div>
</composite:implementation>

</html>
