<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:st="http://samply.de">


<composite:interface>
    <composite:attribute name="element" required="true"/>
    <composite:attribute name="valueDomain" default="null"/>
    <composite:attribute name="detailLink" default="false"/>
    <composite:attribute name="draggable" default="false"/>
    <composite:attribute name="sortable" default="false"/>
    <composite:attribute name="removable" default="false"/>
    <composite:attribute name="starrable" default="false"/>
    <composite:attribute name="collapsible" default="false"/>
    <composite:attribute name="renderDefinitions" default="true"/>
    <composite:attribute name="renderSlots" default="true"/>
    <composite:attribute name="renderHeaders" default="true"/>
    <composite:attribute name="checkable" default="false"/>
    <composite:attribute name="detailPage" default="/shortDetail.xhtml"/>
    <composite:attribute name="readonly" default="true"/>
</composite:interface>

<composite:implementation>
    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">#{msg.close}</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">#{msg.deleteDialogTitle}</h4>
                </div>
                <div class="modal-body">#{msg.deleteDialogSummary}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">#{msg.close}</button>
                    <button type="button" class="btn btn-primary" onclick="$('.deleteBtn').click();">#{msg.delete}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateDialog" tabindex="-1" role="dialog" aria-labelledby="updateDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">#{msg.close}</span>
                    </button>
                    <h4 class="modal-title" id="updateDialogLabel">#{msg.updateDialogTitle}</h4>
                </div>
                <div class="modal-body">#{msg.updateDialogSummary}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">#{msg.close}</button>
                    <h:link outcome="/user/update?urn=#{cc.attrs.element.urn}" styleClass="btn btn-primary" data-dismiss="modal"
                            onclick="$('#updateDialog').modal('hide');">
                        <i class="fa fa-caret-square-o-up fa-fw"/>&#160; #{msg.update}
                    </h:link>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="col-xs-12">
            <ui:fragment rendered="#{cc.attrs.renderHeaders}">
                <div class="col-xs-6">
                    <h1 class="wiztitle">
                        #{cc.attrs.element.designation}
                    </h1>

                    <h4 class="col-xs-12">#{cc.attrs.element.definition}</h4>
                </div>

            </ui:fragment>

            <div class="col-xs-6 btn-group">

                <div class="col-xs-12 row">

                    <h:panelGroup styleClass="dropdown contextButtons" layout="block" rendered="#{cc.attrs.element.elementType != 'code'}">
                        <h:form id="contextForm">
                        <button class="btn btn-default dropdown-toggle" type="button" id="context-btn" data-toggle="dropdown">
                            <i class="fa fa-bars"></i>
                        </button>

                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="context-btn">
                            <ui:fragment rendered="#{userBean.writableNamespaces.size() > 0}">
                                <li role="presentation" class="dropdown-header">
                                    #{msg.edit}
                                </li>
                                <ui:fragment rendered="#{userBean.isWritableNamespaceURN(cc.attrs.element.urn) and cc.attrs.element.draft}">
                                    <li role="presentation">
                                        <a href="#" onclick="$('.releaseBtn').click();"><i class="fa fa-check-square-o fa-fw click"/>&#160; #{msg.release}</a>
                                    </li>
                                </ui:fragment>
                                <ui:fragment rendered="#{userBean.isWritableNamespaceURN(cc.attrs.element.urn)}">
                                    <li role="presentation">
                                        <a href="#" onclick="$('.changeBtn').click();"><i class="fa fa-pencil-square-o fa-fw click"/>&#160; #{msg.editElement}</a>
                                    </li>
                                </ui:fragment>
                                <ui:fragment rendered="#{cc.attrs.element.elementType != 'catalog'}">
                                    <li role="presentation">
                                        <a href="#" onclick="$('.importBtn').click();"><i class="fa fa-magic fa-fw"></i>&#160; #{msg.useAsTemplate}</a>
                                    </li>
                                </ui:fragment>
                                <ui:fragment rendered="#{userBean.isWritableNamespaceURN(cc.attrs.element.urn) and !cc.attrs.element.outdated}">
                                    <li role="presentation">
                                        <a href="#" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash fa-fw"/>&#160; #{msg.delete}</a>
                                    </li>
                                </ui:fragment>
                                <ui:fragment rendered="#{userBean.isWritableNamespaceURN(cc.attrs.element.urn) and cc.attrs.element.elementType == 'dataelementgroup'}">
                                    <li role="presentation">
                                        <a href="#" data-toggle="modal" data-target="#updateDialog"><i class="fa fa-caret-square-o-up fa-fw"/>&#160; #{msg.updateGroup}</a>
                                    </li>
                                </ui:fragment>

                                <ui:fragment rendered="#{userBean.getImportableNamespaces(cc.attrs.element).size() > 0}">
                                    <!-- Import into another namespace -->
                                    <li class="divider"/>
                                    <li role="presentation" class="dropdown-header">
                                        #{msg.importIntoNamespace}
                                    </li>
                                    <ui:repeat var="r" value="#{userBean.getImportableNamespaces(cc.attrs.element)}">
                                        <li role="presentation">
                                            <h:commandLink value="#{r.shortLabel}" onclick="$('#pleaseWaitDialog').modal('show');" action="#{importBean.importElement(cc.attrs.element, r)}"/>
                                        </li>
                                    </ui:repeat>
                                </ui:fragment>

                                <li class="divider"/>
                            </ui:fragment>

                            <ui:fragment rendered="#{cc.attrs.element.elementType != 'catalog'}">
                                <li role="presentation" class="dropdown-header">
                                    #{msg.misc}
                                </li>
                                <li role="presentation">
                                    <h:link outcome="/representations?urn=#{cc.attrs.element.urn}" value="#{msg.getOtherRepresentations}"/>
                                </li>
                                <ui:fragment rendered="#{userBean.isWritableNamespaceURN(cc.attrs.element.urn)}">
                                    <li role="presentation">
                                        <h:commandLink value="#{msg.duplicate}" action="#{detailViewBean.duplicate(cc.attrs.element)}" />
                                    </li>
                                </ui:fragment>
                                <ui:fragment rendered="#{cc.attrs.element.elementType == 'dataelementgroup'}">
                                    <li role="presentation">
                                        <h:commandLink action="#{userBean.markToCompare(cc.attrs.element)}">
                                            <f:ajax render="@this navbar"/>
                                            <i class="fa #{userBean.isCompared(cc.attrs.element) ? 'fa-check-square-o' : 'fa-square-o'} fa-fw"></i>
                                            <h:outputText value="#{userBean.isCompared(cc.attrs.element) ? msg.compareNow : msg.markToCompare}" />
                                        </h:commandLink>
                                    </li>
                                </ui:fragment>
                            </ui:fragment>

                            <ui:fragment rendered="#{userBean.canExportImport}">
                                <li role="presentation">
                                    <h:commandLink action="#{userBean.markToExport(cc.attrs.element)}">
                                        <f:ajax render="@this navbar"/>
                                        <i class="fa #{userBean.isExported(cc.attrs.element) ? 'fa-check-square-o' : 'fa-square-o'} fa-fw"></i>
                                        <h:outputText value="#{msg.markToExport}" />
                                    </h:commandLink>
                                </li>
                            </ui:fragment>
                        </ul>
                        </h:form>
                    </h:panelGroup>

                    <h:form>
                        <h:commandButton styleClass="deleteBtn" action="#{userBean.deleteElement(cc.attrs.element)}" style="display: none;" />
                        <h:commandButton styleClass="importBtn" action="#{detailViewBean.template(cc.attrs.element)}" style="display: none;" />
                        <h:commandButton styleClass="changeBtn" action="#{detailViewBean.change(cc.attrs.element)}" style="display: none;" />
                        <h:commandButton styleClass="releaseBtn" action="#{detailViewBean.release(cc.attrs.element)}" style="display: none;" />

                        <div class="contextButtons">
                            <h:commandLink action="#{userBean.toggle(cc.attrs.element)}" styleClass="btn btn-default">
                                <f:ajax render="@this"/>
                                <i class="fa fa-star #{userBean.isStarred(cc.attrs.element) == true ? 'text-primary' : 'text-muted'}"/>
                            </h:commandLink>
                        </div>
                    </h:form>

                    <div class="dropdown contextButtons">
                        <button class="btn btn-default dropdown-toggle" type="button" id="revisions-btn" data-toggle="dropdown">
                            #{msg.revisions} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="revisions-btn">
                            <ui:repeat var="r" value="#{cc.attrs.element.versions}">
                                <li role="presentation" class="#{r.toString() == cc.attrs.element.urn ? 'active' : ''}">
                                    <h:link outcome="detail">
                                        <f:param name="urn" value="#{r.toString()}"/>
                                        <i class="fa #{r.status == 'RELEASED' ? 'fa-check' : (r.status == 'DRAFT' ? 'fa-comments' : 'fa-close')} fa-fw"/>
                                        &#160;
                                        <h:outputFormat value="#{msg.revisionFormat}">
                                            <f:param value="#{r.version}" />
                                        </h:outputFormat>
                                    </h:link>
                                </li>
                            </ui:repeat>
                        </ul>
                    </div>

                    <div class="contextButtons">
                        <h:link outcome="#{cc.attrs.element.outcome}" rendered="#{cc.attrs.element.isExternal}" styleClass="statusLabel label label-primary">
                            <h:outputText value="#{cc.attrs.element.externalLabel}" />
                        </h:link>

                        <span class="statusLabel label label-#{st:getStyleForStatus(cc.attrs.element.status)}">
                            #{msg[cc.attrs.element.status]}
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 row">
                    <div class="col-xs-6 pull-right row">
                        <input type="text" value="#{cc.attrs.element.urn}" class="pull-right form-control" onfocus="$(this).select();" readonly="readonly"/>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="detailView">
        <h:panelGroup rendered="#{cc.attrs.renderDefinitions and cc.attrs.element.definitions.size() > 1}" layout="block">
            <a href="#" data-toggle="collapse" aria-expanded="false" data-target=".definitionCollapse">
                #{msg.showAllLanguages}
            </a>
            <h:panelGroup styleClass="col-xs-12 collapse form-horizontal definitionCollapse" layout="block">
                <sa:definitions bean="#{cc.attrs.element}" readonly="true"/>
            </h:panelGroup>
        </h:panelGroup>

        <h:panelGroup rendered="#{cc.attrs.element.elementType == 'dataelement'}" layout="block" styleClass="form-horizontal">
            <ui:fragment rendered="#{cc.attrs.renderHeaders}">
                <h2>#{msg.validation}</h2>
            </ui:fragment>

            <sa:valueDomain bean="#{cc.attrs.element}" readonly="true" detailPage="/codeList.xhtml?urn=#{cc.attrs.element.urn}"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{cc.attrs.element.elementType == 'dataelementgroup' or cc.attrs.element.elementType == 'record' or
                            cc.attrs.element.elementType == 'code' or cc.attrs.element.elementType == 'catalog'}" layout="block">
            <ui:fragment rendered="#{cc.attrs.renderHeaders}">
                <h2>#{msg.members}</h2>
            </ui:fragment>

            <div id="elements">
                <sa:elements list="#{cc.attrs.element.members}" detailLink="#{cc.attrs.detailLink}" draggable="#{cc.attrs.draggable}"
                            removable="#{cc.attrs.removable}" sortable="#{cc.attrs.sortable}" starrable="#{cc.attrs.starrable}"
                            collapsible="#{cc.attrs.collapsible}" checkable="#{cc.attrs.checkable}"
                            emptyText="#{msg.noMembers}" valueDomain="#{cc.attrs.valueDomain}" detailPage="#{cc.attrs.detailPage}"
                            readonly="#{cc.attrs.readonly}"/>
            </div>
        </h:panelGroup>

        <h:panelGroup layout="block" rendered="#{cc.attrs.element.slots.size() > 0 and cc.attrs.renderSlots}" styleClass="form-horizontal">
            <ui:fragment rendered="#{cc.attrs.renderHeaders}">
                <h2>#{msg.slots}</h2>
            </ui:fragment>

            <h:panelGroup layout="block" styleClass="well form-horizontal">
                <sa:slots bean="#{cc.attrs.element}" readonly="true"/>
            </h:panelGroup>
        </h:panelGroup>
    </div>
</composite:implementation>

</html>
