<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="bean"/>
    <composite:attribute name="readonly" default="false"/>
</composite:interface>

<composite:implementation>
    <ui:repeat value="#{cc.attrs.bean.permissions}" var="d">
        <div class="form-group">
            <h:outputLabel value="#{d.label}" for="email" styleClass="col-xs-6 control-label"/>

            <h:panelGroup styleClass="col-xs-4" layout="block">
                <h:selectOneMenu id="email" styleClass="form-control select2" value="#{d.permission}" disabled="#{cc.attrs.readonly}" >
                    <f:selectItems var="l" value="#{mdr.permissions}" itemValue="#{l}" itemLabel="#{msg[l]}"/>
                </h:selectOneMenu>
            </h:panelGroup>

            <div class="col-xs-2">
                <h:commandButton rendered="#{! cc.attrs.readonly}" styleClass="btn btn-default" value="#{msg.remove}"
                        action="#{cc.attrs.bean.remove(d)}" disabled="#{d.userId == userBean.userId}">
                    <f:ajax render="@form" execute="@form"></f:ajax>
                </h:commandButton>
            </div>
        </div>
    </ui:repeat>
</composite:implementation>

</html>
