<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="bean"/>
    <composite:attribute name="draggable"/>
    <composite:attribute name="emptyText"/>
    <composite:attribute name="allNamespaces"/>
    <composite:attribute name="hide"/>
    <composite:attribute name="title"/>
    <composite:attribute name="editableNamespace" default="false"/>
    <composite:attribute name="namespaceInput" default=".hiddenSelectedNamespace"/>
    <composite:attribute name="namespaceButton" default=".updateElementsButton"/>
</composite:interface>

<composite:implementation>
    <div class="col-xs-12" id="wrapperResults" style="#{cc.attrs.hide ? 'display: none;' : ''}">

        <h:panelGroup styleClass="col-xs-12 processingWrapper" layout="block" style="display: none;">
            <h3>#{msg.pleaseBePatient}</h3>
            <h:graphicImage alt="Processing..." value="/resources/images/ajax-loader.gif" />
        </h:panelGroup>

        <h:panelGroup id="searchResults" layout="block" styleClass="results-pane">
            <div class="row col-xs-12 resultsTitle">
                <ui:fragment rendered="#{searchBean.source == 'LOCALMDR'}">
                    <span class="col-xs-4" style="margin-top: 20px; margin-bottom: 10px;">
                        <a class="btn btn-default" style="float: left;" onclick="toggleNamespaceView(this);">#{msg.showHideNamespaces}</a>
                    </span>
                </ui:fragment>

                <h2 class="#{searchBean.source == 'LOCALMDR' ? 'col-xs-6' : 'col-xs-12'}" id="searchTitle">#{cc.attrs.title}</h2>

                <h:panelGroup id="editNamespaceButtons" styleClass="col-xs-2 btn-group" layout="block" rendered="#{searchBean.source == 'LOCALMDR' and cc.attrs.editableNamespace}">

                    <h:panelGroup styleClass="dropdown contextButtons" layout="block"
                            rendered="#{userBean.isWritableNamespaceByName(cc.attrs.bean.selectedNamespace) or userBean.canExportImport}">
                        <h:form id="editForm">

                            <button class="btn btn-default dropdown-toggle" type="button" id="context-btn" data-toggle="dropdown">
                                <i class="fa fa-bars"></i>
                            </button>

                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="context-btn">
                                <ui:fragment rendered="#{cc.attrs.editableNamespace and userBean.isWritableNamespaceByName(cc.attrs.bean.selectedNamespace)}">
                                    <li role="presentation" class="dropdown-header">
                                        #{msg.edit} #{cc.attrs.bean.selectedNamespace}
                                    </li>
                                    <li role="presentation">
                                        <h:commandLink action="#{changeNamespaceWizard.initialize(cc.attrs.bean.selectedNamespace)}" >
                                            <i class="fa fa-pencil-square-o fa-fw click"/>&#160; #{msg.edit}
                                        </h:commandLink>
                                        <h:commandLink action="#{changeOwnerWizard.initialize(cc.attrs.bean.selectedNamespace)}" rendered="false" >
                                            <i class="fa fa-pencil-square-o fa-fw click"/>&#160; #{msg.edit}
                                        </h:commandLink>
                                    </li>
                                </ui:fragment>
                                <ui:fragment rendered="#{userBean.canExportImport}">
                                    <li role="presentation">
                                        <h:commandLink action="#{userBean.markToExport(cc.attrs.bean.selectedNamespace)}">
                                            <f:ajax render="@this navbar"/>
                                            <i class="fa #{userBean.isExportedNamespace(cc.attrs.bean.selectedNamespace) ? 'fa-check-square-o' : 'fa-square-o'} fa-fw"></i>
                                            <h:outputText value="#{msg.markToExport}" />
                                        </h:commandLink>
                                    </li>
                                </ui:fragment>
                            </ul>
                        </h:form>
                    </h:panelGroup>

                </h:panelGroup>
            </div>

            <ui:fragment rendered="#{searchBean.source == 'LOCALMDR'}">
                <div class="col-xs-4 namespacelist-pane" id="namespaces">

                    <div class="form-horizontal">
                        <label for="namespace-filter" class="col-xs-2 control-label">#{msg.filter}</label>

                        <div class="col-xs-10">
                            <input type="text" id="namespace-filter" class="form-control form-horizontal namespace-filter" placeholder="Registry"/>
                        </div>
                    </div>

                    <ul class="nav nav-pills namespacelist">
                        <ui:fragment rendered="#{cc.attrs.allNamespaces}">
                            <li class="col-xs-12 active namespace">
                                <a onclick="selectNamespace(this, '#{cc.attrs.namespaceInput}', '#{cc.attrs.namespaceButton}');" class="namespaceLink">
                                    <span class="definition">#{msg.allNamespaces}</span>
                                    <span class="designation" style="display: none;"/>
                                    <span style="display: none;" class="name"></span>
                                </a>
                            </li>
                        </ui:fragment>

                        <ui:fragment rendered="#{cc.attrs.bean.myNamespaces.size() > 0}">

                            <div class="col-xs-12 strike">
                                <span>#{msg.myNamespaces}</span>
                            </div>

                            <ui:repeat var="ns" value="#{cc.attrs.bean.myNamespaces}">
                                <li class="col-xs-12 namespace #{cc.attrs.bean.selectedNamespace == ns.name ? 'active' : ''}">
                                    <a onclick="selectNamespace(this, '#{cc.attrs.namespaceInput}', '#{cc.attrs.namespaceButton}');" class="namespaceLink">
                                        <span class="definition">#{ns.shortLabel}</span>
                                        <span class="designation">#{ns.definition}</span>
                                        <span style="display: none;" class="name">#{ns.name}</span>
                                    </a>
                                </li>
                            </ui:repeat>

                            <div class="col-xs-12 strike">
                                <span>#{msg.otherNamespaces}</span>
                            </div>

                        </ui:fragment>

                        <ui:repeat var="ns" value="#{cc.attrs.bean.namespaces}">
                            <li class="col-xs-12 namespace #{cc.attrs.bean.selectedNamespace == ns.name ? 'active' : ''}">
                                <a onclick="selectNamespace(this, '#{cc.attrs.namespaceInput}', '#{cc.attrs.namespaceButton}');" class="namespaceLink">
                                    <span class="definition">#{ns.shortLabel}</span>
                                    <span class="designation">#{ns.definition}</span>
                                    <span style="display: none;" class="name">#{ns.name}</span>
                                </a>
                            </li>
                        </ui:repeat>
                    </ul>
                </div>

                <h:panelGroup id="elements" styleClass="col-xs-8 elements-pane" layout="block">
                    <sa:elements list="#{cc.attrs.bean.activeElements}" collapsible="true" draggable="#{cc.attrs.draggable}" removable="false"
                        starrable="true" detailLink="#{! cc.attrs.draggable}" emptyText="#{cc.attrs.emptyText}"/>

                    <h:outputScript rendered="#{cc.attrs.draggable}">
                        activateDrag();
                    </h:outputScript>
                </h:panelGroup>
            </ui:fragment>

            <h:panelGroup id="cadsrElements" layout="block" rendered="#{searchBean.source == 'CADSR'}">
                <ui:repeat var="e" value="#{searchBean.cadsr.elements}">
                    <div class="col-xs-12" draggable="false">
                        <h:panelGroup styleClass="formItem formItem-dataelement col-xs-12" layout="block">
                            <h:link styleClass="detailLink col-xs-12 vCenter" outcome="/cadsr">
                                <f:param name="publicId" value="#{e.publicId}"/>

                                <h:panelGroup styleClass="col-xs-12 vCenter">
                                    <span class="designation">#{e.designation}</span>
                                    <span class="urn">#{e.publicId}</span>
                                    <span class="definition">#{e.definition}</span>
                                </h:panelGroup>
                            </h:link>
                        </h:panelGroup>
                    </div>
                </ui:repeat>

                <ui:fragment rendered="#{! searchBean.cadsr.done}">
                    <h:panelGroup styleClass="col-xs-12 loadMore processingWrapper" layout="block">
                        <h3>#{msg.pleaseBePatient}</h3>
                        <h:graphicImage alt="Processing..." value="/resources/images/ajax-loader.gif" />
                    </h:panelGroup>

                    <h:outputScript>
                        $(function() {
                            $('.loadMore').waypoint({
                            handler: function(direction) {
                                    $('.cadsrLoadNext').click();
                                    this.destroy();
                                },
                            offset: 'bottom-in-view'});
                        });
                    </h:outputScript>
                </ui:fragment>

                <h:panelGroup styleClass="col-xs-12" layout="block" rendered="#{searchBean.cadsr.elements.size() == 0 and searchBean.cadsr.done}">
                    <h3>#{msg.noSearchResults}</h3>
                </h:panelGroup>
            </h:panelGroup>

            <h:outputScript>
                activateFilter();
            </h:outputScript>
        </h:panelGroup>
    </div>
</composite:implementation>

</html>
