<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="2page-wizard.xhtml">

    <ui:param name="bodyClass" value="container-fluid" />
    <ui:param name="formContainerClass" value="col-xs-6" />

    <ui:define name="formContainer">

        <h:inputHidden value="#{bean.items}" id="items"/>

        <h:commandButton style="display:none" action="#{bean.refreshItems}" id="refreshItems">
            <f:ajax render="sortableItemPanel" execute="@form"/>
        </h:commandButton>

        <h:panelGroup id="sortableItemPanel" styleClass="sortableItemPanel col-xs-12 droptrue" layout="block">

            <h:panelGroup id="dragInfo" layout="block" rendered="#{bean.elements.size() == 0}">
                <div style="font-size: 30px;">
                    <i class="fa fa-hand-o-up"></i> <br /> Add Item
                </div>
                <div>Simply drag and drop</div>
            </h:panelGroup>

            <sa:elements list="#{bean.elements}" detailLink="false" draggable="false"
                    removable="true" sortable="true" starrable="false" collapsible="false"
                    showEmptyText="false"/>

            <h:outputScript>
                activateDrag();
            </h:outputScript>

        </h:panelGroup>

        <h:commandButton id="cancelBtn" action="#{bean.reset}" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{bean.validateMembers}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{bean.previousStep(view.viewId)}" style="display:none;"/>

    </ui:define>

    <ui:define name="misc">
        <h:form id="starForm">
            <h:inputText id="urn" value="#{userBean.starItem}" styleClass="inputStarItemUrn" style="display: none;" />
            <h:commandButton action="#{userBean.toggle}" styleClass="inputStarItemBtn" style="display: none;" >
                <f:ajax execute="@form" render=":starredElements"/>
            </h:commandButton>
        </h:form>

        <div class="col-xs-6 scrollable panelRight">

            <ul class="nav nav-tabs" role="tablist" id="searchTabs">
                <li class="active"><a href="#viewTab" role="tab" data-toggle="tab">#{msg.view}</a></li>
                <li><a href="#searchTab" role="tab" data-toggle="tab">#{msg.search}</a></li>
                <li><a href="#searchResultTab" role="tab" data-toggle="tab">#{msg.searchResults}</a></li>
                <li><a href="#starredTab" role="tab" data-toggle="tab">#{msg.starred}</a></li>
            </ul>

            <div class="tab-content">
                <h:panelGroup id="viewTab" styleClass="tab-pane fade active in" layout="block">
                    <h:form style="display: none;" id="browseUpdateForm">
                        <h:inputText value="#{viewBean.selectedNamespace}" styleClass="hiddenBrowseSelectedNamespace" style="display: none;"/>
                        <h:commandButton action="#{viewBean.updateElements()}" styleClass="updateBrowseElementsButton" style="display: none;">
                            <f:ajax render="viewWrapper:elements" execute="@form"/>
                        </h:commandButton>
                    </h:form>

                    <sa:searchResults id="viewWrapper" bean="#{viewBean}" draggable="true" allNamespaces="false"
                        title="#{msg.browse}" emptyText="#{msg.selectNamespace}" editableNamespace="false"
                        namespaceInput=".hiddenBrowseSelectedNamespace"
                        namespaceButton=".updateBrowseElementsButton"/>
                </h:panelGroup>

                <h:panelGroup id="searchTab" styleClass="tab-pane fade" layout="block">
                    <h:form styleClass="form-horizontal">
                        <ui:include src="searchForm.xhtml">
                            <ui:param name="resultTab" value="true" />
                        </ui:include>
                    </h:form>
                </h:panelGroup>

                <h:panelGroup id="searchResultTab" styleClass="tab-pane fade" layout="block">
                    <sa:searchResults id="searchWrapper" bean="#{searchBean}" allNamespaces="true" draggable="true" emptyText="#{msg.noSearchResults}"
                        title="#{msg.searchResults}"/>
                </h:panelGroup>

                <h:panelGroup id="starredTab" styleClass="tab-pane fade" layout="block">
                    <h:panelGroup id="starredElements" layout="block">
                        <div id="elements">
                            <sa:elements list="#{userBean.starred}" draggable="true" starrable="true" collapsible="true"
                                emptyText="#{msg.noStarredItems}"/>
                        </div>

                        <h:outputScript>
                            activateDrag();
                        </h:outputScript>
                    </h:panelGroup>
                </h:panelGroup>
            </div>
        </div>
    </ui:define>

</ui:composition>
