<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sa="http://java.sun.com/jsf/composite/samply">

<h:head>
    <title><ui:insert name="title">#{requestBean.title} MDR</ui:insert></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <ui:include src="styles.xhtml"/>

    <h:outputScript>
        var contextPath = '#{facesContext.externalContext.request.contextPath}';

        $(function() {
            enableSelect2();
        });
    </h:outputScript>

    <ui:insert name="head" />
</h:head>

<h:body styleClass="#{bodyClass}">

    <h:panelGroup styleClass="demo-ribbon-wrapper left fixed" rendered="#{! requestBean.isProduction()}">
        <div class="demo-ribbon">
            Demo
        </div>
    </h:panelGroup>

    <ui:include src="navbar.xhtml"/>

    <div class="navbar-shadow"/>

    <ui:include src="dialog.xhtml"/>

    <ui:insert name="body"/>

</h:body>
</html>
