<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

        <div class="well">
            <div class="form-group">
                <h:outputLabel value="#{msg.search}" for="search" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-10" layout="block">
                    <h:inputText id="search" styleClass="form-control" value="#{searchBean.searchText}"
                        pt:placeholder="#{msg.searchPlaceholder}"/>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel value="#{msg.searchFor}" for="searchType" styleClass="col-xs-2 control-label" />

                <h:panelGroup class="col-xs-10" layout="block">
                    <h:selectOneRadio id="searchType" value="#{searchBean.searchType}" layout="pageDirection">
                        <f:selectItems value="#{searchBean.searchTypes}" var="t" itemLabel="#{msg[t.toString()]}" itemValue="#{t}"/>
                        <f:ajax render="@form" execute="@form"/>
                    </h:selectOneRadio>
                </h:panelGroup>
            </div>

            <ui:fragment rendered="#{searchBean.searchType == 'ELEMENTS'}">

                <div class="form-group">
                    <h:outputLabel value="#{msg.searchFor}" for="searchFor" styleClass="col-xs-2 control-label"/>

                    <h:panelGroup class="col-xs-10" layout="block">
                        <h:selectManyCheckbox id="searchFor" value="#{searchBean.selectedTypes}" layout="pageDirection">
                            <f:selectItems value="#{searchBean.types}" var="v" itemLabel="#{msg[v.toString()]}" itemValue="#{v}"/>
                        </h:selectManyCheckbox>
                    </h:panelGroup>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.searchStatus}" for="searchStatus" styleClass="col-xs-2 control-label"/>

                    <h:panelGroup class="col-xs-10" id="searchStatus" layout="block">
                        <h:selectManyCheckbox value="#{searchBean.selectedStatuses}" layout="pageDirection">
                            <f:selectItems value="#{searchBean.statuses}" var="v" itemLabel="#{msg[v.toString()]}" itemValue="#{v}"/>
                        </h:selectManyCheckbox>
                    </h:panelGroup>
                </div>

            </ui:fragment>

            <h:panelGroup rendered="#{! resultTab}" styleClass="form-group" layout="block">
                <div class="col-xs-10 col-xs-offset-2">
                    <h:commandButton styleClass="btn btn-default pull-right" value="#{msg.search}" onclick="$('#wrapperResults').addClass('fadein').show();" action="#{searchBean.updateResults}">
                        <f:ajax render="searchWrapper:searchResults" execute="@form"/>
                    </h:commandButton>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{resultTab}" styleClass="form-group" layout="block">
                <div class="col-xs-10 col-xs-offset-2">
                    <h:commandButton styleClass="btn btn-default pull-right" value="#{msg.search}" onclick="activateDrag(); showResultTab();" action="#{searchBean.updateResults}">
                        <f:ajax render="searchWrapper:searchResults" execute="@form"/>
                    </h:commandButton>
                </div>
            </h:panelGroup>
        </div>

        <h:inputText value="#{searchBean.selectedNamespace}" styleClass="hiddenSelectedNamespace" style="display: none;"/>
        <h:commandButton action="#{searchBean.updateElements()}" styleClass="updateElementsButton" style="display: none;">
            <f:ajax render="searchWrapper:elements" execute="@form"/>
        </h:commandButton>
</ui:composition>
