<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="wizard.xhtml">

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.verification}"/>


    <ui:define name="formContainer">
        <div>
            <sa:definitions bean="#{bean}" readonly="true"/>
        </div>

        <ui:insert name="afterDefinitions"/>

        <h:panelGroup layout="block" rendered="#{bean.slots.size() > 0}">
            <h2><h:outputText value="#{msg.slots}"/></h2>

            <h:panelGroup layout="block" styleClass="well">
                <sa:slots bean="#{bean}" readonly="true"/>
            </h:panelGroup>
        </h:panelGroup>

        <h2><h:outputText value="#{msg.identification}"/></h2>

        <div class="well">
            <h:panelGroup styleClass="form-group required" rendered="true" layout="block">
                <h:outputLabel for="identifier" value="#{msg.identifier}" styleClass="col-xs-2 control-label"/>

                <div class="col-xs-8 input-group">
                    <h:inputText id="identifier" disabled="#{bean.change or !bean.useAsTemplate}" styleClass="form-control" value="#{bean.identifier}"/>
                    <h:panelGroup styleClass="input-group-btn" rendered="#{!(bean.change or !bean.useAsTemplate)}">
                        <button class="btn btn-default" type="button" onclick="$('#updateIdentifier').click();">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </h:panelGroup>
                </div>
            </h:panelGroup>

            <h:commandButton id="updateIdentifier" action="#{bean.updateIdentifier}" disabled="#{bean.change or !bean.useAsTemplate}" style="display:none;">
                <f:ajax render="identifier"/>
            </h:commandButton>

            <div class="form-group required">
                <h:outputLabel for="revision" value="#{msg.revision}" styleClass="col-xs-2 control-label"/>

                <div class="col-xs-8">
                    <h:inputText id="revision" disabled="true" styleClass="form-control" value="#{bean.revision}"/>
                </div>
            </div>

            <div class="form-group required">
                <h:outputLabel for="namespace" value="#{msg.namespace}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8">
                    <h:selectOneMenu id="namespace" disabled="#{bean.change or !bean.useAsTemplate}" value="#{bean.namespace}" styleClass="form-control select2">
                        <f:selectItems value="#{userBean.writableNamespaces}" var="namespace" itemLabel="#{namespace.label}" itemValue="#{namespace.name}"/>
                        <f:ajax render="@form" event="change" listener="#{bean.updateIdentifier()}"/>
                    </h:selectOneMenu>
                </h:panelGroup>
            </div>
        </div>

        <h:inputText style="display: none;" value="#{bean.status}" styleClass="status"/>

        <h:commandButton id="cancelBtn" action="#{bean.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{bean.previousStep(view.viewId)}" style="display:none;"/>
        <h:commandButton id="finishBtn" action="#{bean.finish}" style="display:none;"/>
    </ui:define>

</ui:composition>
