<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="default.xhtml">

<ui:define name="body">

    <nav class="navbar navbar-inverse navbar-fixed-bottom fadein col-xs-12">
        <h:panelGroup styleClass="#{bodyClass}" id="wizard-buttons" layout="block">

            <div class="col-xs-12">
                <h:panelGroup styleClass="pull-right" layout="block">
                    <button onclick="$('#cancelBtn').trigger('click')" class="btn btn-default">#{msg.cancel}</button>

                    <h:panelGroup layout="block" rendered="#{bean.isFirstStep(view.viewId)}">
                        <button onclick="$('#previousBtn').trigger('click')" class="btn btn-default" disabled="disabled">#{msg.previous}</button>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{! bean.isFirstStep(view.viewId)}">
                        <button onclick="$('#previousBtn').trigger('click')" class="btn btn-default">#{msg.previous}</button>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{! bean.isLastStep(view.viewId)}">
                        <button onclick="$('#verifyBtn').trigger('click')" class="btn btn-default btn-load">#{msg.next}</button>
                    </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{bean.isLastStep(view.viewId)}">
                        <ui:fragment rendered="#{bean.releaseDraftButtons}">
                            <button onclick="$('.status').val('draft'); $('#finishBtn').trigger('click')" class="btn btn-default btn-load">#{msg.finishAsDraft}</button>
                            <button onclick="$('.status').val('release'); $('#finishBtn').trigger('click')" class="btn btn-default btn-load">#{msg.finishAndRelease}</button>
                        </ui:fragment>
                        <ui:fragment rendered="#{! bean.releaseDraftButtons}">
                            <button onclick="$('#finishBtn').trigger('click');" class="btn btn-default btn-load">#{msg.finish}</button>
                        </ui:fragment>
                    </h:panelGroup>
                </h:panelGroup>
            </div>

        </h:panelGroup>
    </nav>

    <div id="wizard-background" class="fadein col-xs-12">
        <div id="form-background" class="#{bodyClass}"></div>
    </div>

    <h:panelGroup styleClass="#{facesContext.messageList.size() > 0 ? '' : 'fadein'} content" layout="block">

        <h:panelGroup style="display: inline-block" styleClass="col-xs-12" layout="block" rendered="#{showSteps != 'false'}">
            <h1 class="wiztitle"><h:outputText value="#{bean.designation} ‒ " rendered="#{bean.designation.length() > 0}" />  #{title}</h1>

            <div class="wizard">
                <ul class="steps">
                    <ui:repeat var="s" value="#{bean.getSteps(view.viewId)}">
                        <li class="#{s.active ? 'active' : ''} #{s.complete ? 'complete' : ''}">
                            <span class="badge #{s.active ? 'badge-info' : ''} #{s.complete ? 'badge-success' : ''}">#{s.number}</span>
                                #{s.title}
                            <h:panelGroup styleClass="chevron" rendered="#{! s.last}"/>
                        </li>
                    </ui:repeat>
                </ul>
            </div>
        </h:panelGroup>

        <h:panelGroup styleClass="#{formContainerClass}" layout="block">
            <h:form id="wizardForm" styleClass="form-horizontal" prependId="false" onkeypress="return event.keyCode != 13;" enctype="multipart/form-data">
                <ui:insert name="formContainer"/>

                <h:outputScript>
                    enableSelect2();
                </h:outputScript>
            </h:form>
        </h:panelGroup>

        <ui:insert name="misc"/>

    </h:panelGroup>

</ui:define>

</ui:composition>
