<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    This view compares two or more selected groups and shows all dataelements in this group in a table -->

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein">

            <div class="clearfix">
                <div class="col-xs-12">
                    <h1 class="col-xs-9 wiztitle">
                        #{msg.export}
                    </h1>

                    <div class="col-xs-3 btn-group">
                        <h:panelGroup styleClass="dropdown contextButtons" layout="block">
                            <h:form id="contextForm">
                                <h:commandLink action="#{userBean.clearExport}" styleClass="btn btn-default">
                                    <i class="fa fa-times fa-fw"></i>
                                </h:commandLink>
                            </h:form>
                        </h:panelGroup>
                    </div>
                </div>
            </div>

            <h:panelGroup styleClass="col-xs-12" rendered="#{userBean.exportNamespace.size() > 0}" layout="block">
                <ui:repeat var="ns" value="#{userBean.exportNamespace}">
                    <div class="col-xs-12">
                        <h:panelGroup styleClass="formItem formItem-namespace col-xs-12" layout="block" pt:draggable="true">
                            <h:panelGroup styleClass="col-xs-12 vCenter">
                                <span class="designation">Namespace #{ns}</span>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </ui:repeat>
            </h:panelGroup>

            <ui:fragment rendered="#{userBean.export.size() > 0}">
                <div class="col-xs-12" style="margin-top: 45px;">
                    <h3>Elements</h3>
                </div>

                <h:panelGroup styleClass="col-xs-12 clearfix" layout="block">
                    <sa:elements list="#{userBean.export}" collapsible="false" detailLink="false"/>
                </h:panelGroup>
            </ui:fragment>

            <div class="col-xs-12">
                <h:form>
                    <h:commandButton styleClass="pull-right btn btn-primary" action="#{exportBean.export}" value="#{msg.export}" />
                </h:form>
            </div>

        </div>

    </ui:define>

</ui:composition>
