<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    The index page.
 -->

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein">

            <h1>#{msg.indexTitle}</h1>

            <h:outputText rendered="#{requestBean.isOsse()}" escape="false" value="#{msg.introductionOSSE}"/>
            <h:outputText rendered="#{! requestBean.isOsse()}" escape="false" value="#{msg.introductionSamply}"/>

        </div>

        <div class="fadein footer container">
            <h:graphicImage alt="JGU Logo" value="/resources/images/logo.svg" styleClass="imgLeft" />
            <h:graphicImage alt="BMG Logo" rendered="#{requestBean.isOsse()}" height="200" value="/resources/images/BMG2.svg" styleClass="imgRight"/>
        </div>

    </ui:define>

</ui:composition>
