<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    This view searches for other reprsentations of the given URN. -->

<f:metadata>
    <f:viewParam name="urn" value="#{representationsBean.urn}"/>
    <f:viewAction action="#{representationsBean.initialize()}" />
</f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein">

            <div class="clearfix">
                <div class="col-xs-12">
                    <h1 class="wiztitle">
                        #{msg.otherRepesentations}
                    </h1>
                </div>
            </div>

            <sa:elements list="#{representationsBean.elements}" detailLink="true" collapsible="true" emptyText="#{msg.noOtherRepresentations}"
                starrable="true" />

        </div>

    </ui:define>

</ui:composition>
